%li.tienda
  %h2= link_to(tienda.nombre, tienda)
  %p
    %span.direction= tienda.direccion
    %span.phone= "Teléfono y fax: #{tienda.telefono}"
  %strong Horario
  %blockquote
    = tienda.horario
  = link_to('Encuentra Tu Sofá en Google Maps', tienda.urls, :title => "Encuentra Tu Sof\303\241 en Google Maps", :class => 'linkMaps', :target => '_blank')
  %h5 Imágenes de la tienda
  %ul.listImgTiendas
    - if tienda.images.count > 0
      - tienda.images.each do |image|
        %li= link_to(image_tag(image.image.url(:tiny), :class => 'block', :alt => image.description), image.image.url(), :rel => "prettyPhoto[pp_gal#{tienda.id}]", :title => image.description)
    - else
      Sin imagenes