- title "Tiendas"

%table
  %tr
    %th Nombre
    %th Horario
    %th Urls
    %th X
    %th Y
  - for tienda in @tiendas
    %tr
      %td= h tienda.nombre
      %td= h tienda.horario
      %td= h tienda.urls
      %td= h tienda.x
      %td= h tienda.y
      %td= link_to 'Show', tienda
      %td= link_to 'Edit', edit_tienda_path(tienda)
      %td= link_to 'Destroy', tienda, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Tienda", new_tienda_path
