#header
  %h1.logo
    %a{:href => "/", :title => "Palsofa Grupo"}
      %span.n Palsofa Grupo
  %h2.n Venta de sofas
  #menu
    %ul.nav
      %li
        = link_to('INICIO', root_path, :title => "Inicio")
      %li
        = link_to('PRODUCTOS', products_path, :title => "Productos")
        %ul
          - @categories.each do |category|
            %li= link_to(category.name, {:id => category.name, :action => 'show'}, :title => category.name)
      %li
        = link_to('SERVICIOS', {:controller => 'pages', :action => 'servicios'}, :title => "Nuestros servicios")
      %li
        = link_to('TRABAJA CON NOSOTROS', {:controller => 'pages', :action => 'trabajo'}, :title => "trabaja con nosotros")
      %li
        = link_to('TIENDAS', tiendas_path, :title => "Tiendas")
      %li
        = link_to('CONTACTO', {:controller => 'pages', :action => 'contact'}, :title => "contacto")
  .breadcrums
    %ul
      %li
        Estás aquí:
      %li
        = link_to('Home', root_path, :title => "Inicio")
        %b >
      %li
        %span Productos