#header
  %h1.logo
    %a{:href => "/", :title => "Palsofa Grupo"}
      %span.n Palsofa Grupo
  %h2.n Venta de sofas
  #menu
    %ul.nav
      %li
        = link_to('INICIO', root_path, :title => "Inicio")
      %li
        = link_to('PRODUCTOS', products_path, :title => "Productos")
        %ul
          %li
            %a{:href => "#", :title => "SOF\303\201S 3+2"} SOFÁS 3+2
          %li
            %a{:href => "#", :title => " SOF\303\201S CAMA"} SOFÁS CAMA
          %li
            %a{:href => "#", :title => "CHAISELONGUE"} CHAISELONGUE
          %li
            %a{:href => "#", :title => "RELAX"} RELAX
          %li
            %a{:href => "#", :title => "RINCONERAS"} RINCONERAS
          %li
            %a{:href => "#", :title => "BUTACAS"} BUTACAS
          %li
            %a{:href => "#", :title => "DESCANSO"} DESCANSO
          %li
            %a{:href => "#", :title => "OUTLET"} OUTLET
      %li
        = link_to('SERVICIOS', pages_path(:id => 'servicios'), :title => "Nuestros servicios")
      %li
        = link_to('TRABAJA CON NOSOTROS', pages_path(:id => 'trabajo'), :title => "trabaja con nosotros")
      %li
        = link_to('TIENDAS', tiendas_path, :title => "Tiendas")
      %li
        = link_to('CONTACTO', {:controller => 'pages', :action => 'contact'}, :title => "contacto")
  .breadcrums
    %ul
      %li
        Estás aquí:
      %li
        = link_to('Home', root_path, :title => "Inicio")
        %b >
      %li
        %span Productos