#header
  %h1.logo
    %a{:href => "/", :title => "Palsofa Grupo"}
      %span.n Palsofa Grupo
  %h2.n Venta de sofas
  #menu
    %ul.nav
      %li
        = link_to('INICIO', root_path, :title => "Inicio", :class => 'link_others')
      %li
        = link_to('PRODUCTOS', products_path, :title => "Productos", :id => 'link_products')
        - if(params[:controller] == 'products')
          %ul#list
            - if Product.category_counts
              - Product.category_counts.each do |category|
                %li= link_to(category.name, {:id => category.name, :action => 'show', :controller => 'products'}, :title => category.name)
        - else
          %ul#list{:style => 'display:none;'}
            - if Product.category_counts
              - Product.category_counts.each do |category|
                %li= link_to(category.name, {:id => category.name, :action => 'show', :controller => 'products'}, :title => category.name)

      %li
        = link_to('SERVICIOS', {:controller => 'pages', :action => 'servicios'}, :title => "Nuestros servicios", :class => 'link_others')
      %li
        = link_to('TRABAJA CON NOSOTROS', {:controller => 'pages', :action => 'trabajo'}, :title => "trabaja con nosotros", :class => 'link_others')
      %li
        = link_to('TIENDAS', tiendas_path, :title => "Tiendas", :class => 'link_others')
      %li
        = link_to('CONTACTO', {:controller => 'pages', :action => 'contact'}, :title => "contacto", :class => 'link_others')
  .breadcrums
    %ul
      %li
        Estás aquí:
      %li
        = link_to('Home', root_path, :title => "Inicio")
        %b >
      %li
        %span Productos