%li
  - if !sofa.images.empty?
    - first_time = true
    - sofa.images.each do |image|
      - if first_time
        = link_to(image_tag(image.image.url(:small), :alt => image.description), image.image.url(), :title => image.description, :rel => "prettyPhoto[pp_gal#{sofa.id}]")
        - first_time = false
      - else
        = link_to(image_tag(image.image.url(:small), :alt => image.description), image.image.url(), :title => image.description, :rel => "prettyPhoto[pp_gal#{sofa.id}]", :style => 'display:none;')
  %h3= sofa.name
  %span.description= truncate(sofa.description, :length => 60)
  .price
    - if params[:id] && params[:id] == 'OUTLET'
      %strong.outlet= "€ #{sofa.price.to_i}"
    - else
      %strong= "€ #{sofa.price.to_i}"
    = link_to('reservar', {:controller => 'pages', :action => 'contact', :product => sofa.id}, :title => 'reservar')
    %br.clear/
  .comparte
    %b Comparte en:
    = render :partial => 'share'
