%li
  = link_to(image_tag(sofa.images[0].image.url(:small)), sofa.images[0].image.url(), :title => sofa.name, :rel => "prettyPhoto[pp_gal#{sofa.id}]") if !sofa.images.empty?
  %h3= sofa.name
  %span.description= sofa.description
  .price
    %strong= "€ #{sofa.price.to_i}"
    = link_to('reservar', {:controller => 'pages', :action => 'contact', :product => sofa.id}, :title => 'reservar')
    %br.clear/
  .comparte
    %b Comparte en:
    = render :partial => 'share'
