#content
  .subheader
    .left
      %h3 BUSCA POR CATEGORÍA
      %ul
        - @categories.each do |category|
          %li= link_to(category.name, {:id => category.name, :action => 'show'}, :title => category.name)
    .right
      %img{:alt => "palsofa", :src => "/images/img1.jpg"}
    %br.clear
  #bodyProducts
    -if params[:action] == 'index'
      .products
        %h3.title OPORTUNIDADES
        %ul
          - Product.select_product('Oportunidad', true).each do |product|
            = render :partial => 'show', :locals => {:sofa => product}
      .products
        %h3.title NOVEDADES
        %ul
          - Product.select_product('Novedad', true).each do |product|
            = render(:partial => 'show', :locals => {:sofa => product})
      .products
        %h3.title LOS MÁS VENDIDOS
        %ul
          - Product.select_product('Mas vendido', true).each do |product|
            = render(:partial => 'show', :locals => {:sofa => product})
    - else
      .products
        %h3.title= params[:id]
        %ul
          - Product.select_product(params[:id]).each do |product|
            = render(:partial => 'show', :locals => {:sofa => product})
:javascript
  $('.products li:nth-child(4)').addClass('last');