!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= h(yield(:title) || "Grupo Palsofa")
    = stylesheet_link_tag 'styles', 'main'
    /[if IE 6]
      <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
    :javascript
      $(document).ready(function(){
      });
  %body
    #wrapper
      = render :partial => '/shared/header'
      = flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
      = render :partial => '/shared/footer'
