!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= "Tiendas de sofas en Vizcaya. Sofas en piel y tela, butacas, chaiselongue, sillones ,rinconeras, sofas cama. Venta de colchones. Grupo Palsofa"
    = stylesheet_link_tag 'styles', 'main', 'nivo-slider', 'prettyPhoto'
    = javascript_include_tag 'jquery132', 'nivo-slider', 'prettyPhoto'
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Venta de sofas en Vizcaya. Todo tipo de sofas piel y tela, colchones, canapes, nordicos,los mejores precios, grandes oportunidades."/>
    <meta name="keywords" content="venta de sofas en vizcaya, tiendas de sofas en Vizcaya, bizkaia, ofertas en sofas, sofas baratos, sillones,colchones, sofas cama, sofas piel, sofas a medida, sofas en bilbao"/>
    <meta name="google-site-verification" content="lnzpUJTvjlH8fB2KFRw06dbQPfcz-hStfDKZzSnLchU" />
    <meta name="robots" content="all"/>
    <link rel="canonical" href="http://www.palsofa.com/" />
    :javascript
      $(document).ready(function(){
        $('#link_products').hover(function(){
          $('ul#listienda').hide();
          $('ul#list').show(250);
        });
        $('.link_others').hover(function(){
          $('ul#listienda').hide();
          $('ul#list').hide(250);
        });
        $('#link_tiendas').hover(function(){
          $('ul#list').hide();
          $('ul#listienda').show(250);
        });
        $('#newsletter_email').focus(function(){
          $(this).val('');
        });
        $('#newsletter_email').focus(function(){
          $(this).val('');
        });
        $('#slider').nivoSlider({controlNav:true, effect: 'fade', directionNav: false});
        $("a[rel^='prettyPhoto']").prettyPhoto();
      });
    /[if IE 6]
      <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
  %body
    #wrapper
      = render :partial => '/shared/header'
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
      = render :partial => '/shared/footer'
    = render :partial => '/shared/analytics'
