!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= h(yield(:title) || "Grupo Palsofa")
    = stylesheet_link_tag 'styles', 'main', 'nivo-slider', 'prettyPhoto'
    = javascript_include_tag 'jquery132', 'nivo-slider'
    :javascript
      $(document).ready(function(){
        $('#link_products').hover(function(){
          $('ul#list').show(250);
        });
        $('.link_others').hover(function(){
          $('ul#list').hide(250);
        })
        $('#newsletter_email').focus(function(){
          $(this).val('');
        });
        $('#newsletter_email').focus(function(){
          $(this).val('');
        });
        $('#slider').nivoSlider();
        $("a[rel^='prettyPhoto']").prettyPhoto();
      });
    /[if IE 6]
      <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
  %body
    #wrapper
      = render :partial => '/shared/header'
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
      = render :partial => '/shared/footer'
